@use '../partials/variables' as *;
@use '../partials/placeholders' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: $header-height;
    padding: 0 $page-margin;
    color: white;
    background-color: cadetblue;

    &__title {
        @extend %anchor-tag-reset;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        font-size: 1rem;
    }

    &__list-item {
        margin-left: 0.75rem;
    }

    &__link {
        @extend %anchor-tag-reset;
    }

    &__button {
        @extend %transparent-button;
    }
}